<nav class="navbar sticky-top navbar-expand-lg navbar-sticky--custom">
    <a class="navbar-brand brand--custom" href="{{ path('homepage') }}">Eunnow</a>
    <button class="navbar-toggler menu-dots--custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg width="20" height="20" fill="#563d7c" class="bi bi-code" viewBox="0 0 16 16">
            <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
        </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link link
                    {% if app.request.get('_route') == 'homepage' %}
                    active
                    {% endif %}"
                    {% if app.request.get('_route') == 'homepage' %}
                        aria-current="page"
                    {% endif %}  href="{{ path('homepage') }}">
                    {{ 'global.home_label'|trans }}
                </a>
            </li>
        </ul>
    </div>
</nav>
