.login--form-margin-top {
  margin-top: 25vh;
}

.login--container {
  padding: 50px 40px;
  border-radius: 50px;
  color: #000;
  background: linear-gradient(145deg, #e2e2e2, #ffffff);
  box-shadow:  34px 34px 77px #d5d5d5,
              -34px -34px 77px #ffffff;
}
