<div class="{{ class }}">
    <div class="article-alone--commentaire_alone-header">
        <div>{{ render_date(createdAt) }}</div>
        <div>{{ username }}</div>
    </div>
    <p class="col-12 article-alone--commentaire_alone-content">
        {{ content|raw }}
    </p>
</div>