{% extends 'base.html.twig' %}

{% block title %}Modifier un categorie{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier un categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-primary" href="{{ path('categorie_index') }}">Retour à la liste</a>

    {{ include('categorie/_delete_form.html.twig') }}

</div>
{% endblock %}
