{% extends 'base.html.twig' %}

{% block body %}
    <div class="row m-t-40">
        <div class="col-12 col-md-8 offset-md-2 text-center">
            <h4 class="fst-italic">
                Page pour le test technique confirmé (PHP/Symfony)
            </h4>
        </div>
    </div>
{#
    Il faudra supprimer les quelques lignes ci dessus et implementer le code ici...
#}
{% endblock %}
