{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">retour</a>
{% endblock %}
